.light-mode {
    --background-color: #e0e0e0;
    --primary-text-color: #1f1f1f;
    --secundary-text-color: #00b2a9;
    --primary-theme-color: #002b28; /* sport club color */
    --secundary-theme-color: #00b2a9;
    --tertiary-theme-color: #002420;
}