
.players__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.crew-menus {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.crew-menus__input-container {
    margin: 10px auto;
}

.crew-menus__select {
    width: 100px;
}

.crew-menus__font-size {
    width: 50px;
}

.crew-menus__apply {
    width: 75px;
    align-self: center;
}