.players__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.player {
    width: 48%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--secundary-theme-color);
    border-radius: 10px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: var(--secundary-text-color);
    background-color: var(--primary-theme-color);

    p, li {
        position: relative;
        font-size: 1.4rem;
    }

    > p {
        text-align: center;
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--secundary-theme-color);
    }

}

.player__full-name {
    text-align: center;
}

.player__element--heading {
    padding-top: .5rem;
    font-size: 1.5rem;
}

.player__photo {
    width: 100%;
    margin-bottom: .5rem;
    height: auto;
    border-radius: 5px;
}

.player__teams-list--item {
    margin-left: 1.5rem;
    list-style-position: outside;
}

.team {
    width: 100%;
    height: fit-content;
    padding: .5rem;
    border: 1px solid var(--secundary-theme-color);
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--primary-theme-color);
    z-index: 500;
}

.player__teams-list--item:hover > .team {
    display: block;
}

.team__heading {
    font-size: 1.8rem;
}

.team__paragraph {
    font-size: 1.4rem;
}

.crew-menus {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.crew-menus__input-container {
    margin: 10px auto;
}

.crew-menus__select {
    width: 100px;
}

.crew-menus__font-size {
    width: 50px;
}

.crew-menus__apply {
    width: 75px;
    align-self: center;
}