@keyframes fanPageText {
    0%      {color: #00b2a9;}
    100%    {color: whitesmoke;}
}

/* Color Themes */
.light-mode {
    --background-color: #e0e0e0;
    --primary-text-color: #1f1f1f;
    --secundary-text-color: #00b2a9;
    --primary-theme-color: #002b28; /* sport club color */
    --secundary-theme-color: #00b2a9;
    --tertiary-theme-color: #002420;
}

:root {
    --header-height: 8rem;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;

    scrollbar-width: thin;
    scrollbar-color: var(--secundary-theme-color) var(--primary-theme-color);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.0rem;
}

p, a, li {
    font-size: 1.8rem;
}

body {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    overflow-x: hidden;
}

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-theme-color);
    color: var(--secundary-text-color);
    z-index: 1000;
}

header a h1 span {
    animation-name: fanPageText;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
}

.header-title {
    text-align-last:justify;
    font-size: 2.5rem;
}

.header-navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-navigation a {
    width: 100%;
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    transition: all 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

.header-navigation a:hover {
    background-color: var(--secundary-theme-color);
    color: var(--primary-text-color);
}

main {
    width: 100%;
    padding: 5%;
    margin-top: var(--header-height);
    box-sizing: border-box;
    flex: 1;
}

footer {
    width: 100%;
    height: fit-content;
    min-height: 10rem;
    box-sizing: border-box;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    flex: 0;
    background-color: var(--tertiary-theme-color);
    color: var(--secundary-text-color);
    font-size: 1.2rem;
}

footer div {
    width: fit-content;
    min-width: 10%;
}

footer div p {
    font-size: 1.5rem;
}

footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .menu-toggle {
        height: 8rem;
        aspect-ratio: 1 / 1;
    }

    #navigation-toggle-button {
        height: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        appearance: unset;
        background-color: transparent;
    }

    #navigation-toggle-button:checked {
        appearance: unset;
    }

    .menu-toggle svg {
        height: 5rem;
        aspect-ratio: 1 / 1;
        margin: calc((8rem - 5rem) / 2);
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .menu-toggle svg path {
        stroke: var(--secundary-text-color);
    }

    .menu-toggle #navigation-toggle-button + svg {
        transition: rotate 0.3s cubic-bezier(0.37, 0, 0.63, 1);
    }

    .menu-toggle #navigation-toggle-button:checked + svg {
        rotate: 90deg;
        transition: rotate 0.3s cubic-bezier(0.37, 0, 0.63, 1);
    }

    .menu-toggle:has(#navigation-toggle-button) ~ .header-navigation {
        display: none;
    }

    .menu-toggle:has(#navigation-toggle-button:checked) ~ .header-navigation {
        display: block;
    }

    header:has(.menu-toggle #navigation-toggle-button:checked) {
        height: fit-content;
    }
}

@media only screen and (min-width: 900px) {
    .menu-toggle {
        visibility: hidden;
    }
    
        .header-title {
            margin-left: 4rem;
        }
    
    .header-navigation {
        width: 40%;
        margin-left: 2rem;
        flex-direction: row;
    }

    .header-navigation a {
        border-radius: 1rem;
    }

    footer {
        justify-content: space-evenly;
    }
}

