@import "color-themes.css";

.table-of-content {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 20%;
    background-color: rgb(from var(--primary-theme-color) r g b / .9);
    color: var(--secundary-text-color);
    border: 2px double var(--secundary-text-color);
    border-right: 0;
    border-radius: 2rem 0 0 2rem;
}

.table-of-content__header {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

#table-of-content__toggle {
    height: 2rem;
    aspect-ratio: 1 / 1;
}

.table-of-content__header h2 {
    padding-bottom: 1rem;
}

.table-of-content ul {
    margin-left: 1rem;
    list-style-position: outside;
    text-decoration: underline;
}

.table-of-content ul li {
    padding: .5rem 0;
}

.table-of-content ul li ul {
    margin-left: 1rem;
}

.table-of-content.table-of-content:has(#table-of-content__toggle) {
    width: fit-content;
}
.table-of-content.table-of-content:has(#table-of-content__toggle:checked) {
    width: 80%;
    padding: 2rem;
}

.table-of-content:has(#table-of-content__toggle) h2, 
.table-of-content:has(#table-of-content__toggle) ul {
    display: none;
}

.table-of-content:has(#table-of-content__toggle:checked) h2, 
.table-of-content:has(#table-of-content__toggle:checked) ul {
    display: block;
}

@media only screen and (min-width: 900px) {
    .table-of-content {
        width: 9% !important;
        padding: 2rem !important;
    }

    .table-of-content h2, 
    .table-of-content ul {
        display: block !important;
    }

    #table-of-content__toggle {
        display: none;
    }
}