@import "color-themes.css";

main {
    padding: 5% 0 0;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}

#image-carousel {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
}

#image-carousel img {
    width: 100%;
    height: auto;
    aspect-ratio: 1920 / 1080;
    scroll-snap-align: center;
}

.body--title {
    margin-top: 3rem;
}

.event-countdown {
    width: 90%;
    height: fit-content;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-countdown h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.countdown {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: var(--primary-theme-color);
    color: var(--secundary-text-color);
}

.event-countdown--units {
    flex: 1;
    text-align: center;
}

.leaderboard {
    width: 90%;
    height: fit-content;
    margin-bottom: 3rem;
    overflow-x: auto;
}

.leaderboard table {
    width: fit-content;
    min-width: 100%;
    font-size: 2rem;
    text-wrap: nowrap;
    border-collapse: collapse;
}

.leaderboard table thead {
    background-color: var(--primary-theme-color);
    color: var(--secundary-text-color);
}

.leaderboard table tbody {
    background-color: var(--secundary-theme-color);
    color: var(----tertiary-text-color);
}

.leaderboard table td,
.leaderboard table th {
    border: 1px solid var(--primary-theme-color);
    border-left: 0;
    border-right: 0;
    padding: .5rem;
} 

.leaderboard table tbody {
    text-align: center;
}

.leaderboard table caption {
    font-size: 2.6rem;
}

@media only screen and (min-width: 900px) {
    #image-carousel img {
        width: auto;
        height: 400px;
    }
}